.hero {
    padding-top: 42px;
}
.hero-wrapper {
     position: relative;
    background-image: url('../images/bg-hero.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 76px;
    padding-left: clamp(15px, 5%, 130px);
    padding-right: clamp(15px, 5%, 130px);
}

.hero-wrapper h1 {
    font-size: clamp(64px, 4vw + 1rem, 96px);
    line-height: clamp(77px, 4.5vw + 1rem, 105px);
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: clamp(22px, 3vw, 65px);
    word-break: break-word;
}
.hero-wrapper > p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    max-width: 776px;
    margin-bottom: 276px;
}
.hero-bottom {
    background-color: var(--cl-primary);
    border-radius: 100px;
    padding: 40px;
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
}
.hero-bottom button {
    border-radius: 100px;
    background: var(--cl-black);
    color: var(--cl-white);
    font-size: 24px;
    font-family: var(--font-secondary);
    font-weight: 700;
    box-shadow: 0px 4px 40px 0px #363636;
    width: 405px;
    min-height: 80px;
    margin-right: 50px;
    flex-shrink: 0;
}
.hero-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
    overflow-y:  auto;
    flex-shrink: 0;
}
.hero-info::-webkit-scrollbar {
    display: none;
}
.hero-info p{
    display: flex;
    flex-direction: column;
    color: var(--cl-black);
    flex-shrink: 0;
}
.hero-info p span:first-child {
    margin-bottom: 20px;
    font-family: var(--font-primary);
    font-size: 40px;
    font-weight: 900;
}
.hero-info p span:last-child {
    font-size: 24px;
    font-weight: 400;
}

/* hype */
.hype {
    padding: 250px 0px;
    position: relative;
}
.hype:before {
    content:'';
    position: absolute;
    top: 10%;
    right: 0;
    background-image: url('../images/hype-img2.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.hype-wrapper {
    text-align: center;
}
.hype-wrapper h2 {
    margin-bottom: 32px;
}
.hype-wrapper p {
    max-width: 776px;
    margin: 0px auto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}
.hype-wrapper img {
    margin-bottom: 65px;
}

/* roadmap */
.roadmap-wrapper  {
    text-align: center;
}
.roadmap-wrapper h2 {
    margin-bottom: 65px;
}
.roadmap-wrapper p {
    max-width: 872px;
    margin: 0px auto;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}

/* features */
.features {
    padding: 250px 0px;
}
.features-wrapper h2 {
    margin-bottom: 55px;
}
.features-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}
.features-item {
    background: #00000033;
    border: 1px solid #FFFFFF40;
    padding: 60px 40px;
    border-radius: 60px;
    height: fit-content;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features-item.active {
    background: var(--cl-primary);
    box-shadow: 0px 30px 70px 0px var(--cl-secondary);
}
.features-item h3 {
    font-size: 40px;
    font-weight: 900;
    color: var(--cl-primary);
    line-height: 44px;
}
.features-item.active h3 {
    color: var(--cl-black);
    margin-bottom: 20px;
}
.features-item p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    color: var(--cl-black);
    display: none;
}
.features-item.active p {
    display: block;
}

/* why */
.why-wrapper {
    background-image: url('../images/why-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 80px clamp(15px, 5%, 110px);
}
.why-wrapper h2 {
    margin-bottom: 148px;
}
.why-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    
}
.why-item {
    padding: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
}
.why-item h3 {
    font-size: 48px;
    line-height: 62px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: var(--font-secondary);
}
.why-item p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}
.why-item:nth-child(2){
   grid-column-start: 1;
    grid-row-start: 2;
}
.why-item:nth-child(3){
   grid-row: span 2/ span 2;
}
.why-item img {
    border-radius: 32px;
    overflow: hidden;
    margin-top: 30px;
}
.why-btn {
    margin-top: 76px;
    background-color: var(--cl-primary);
    box-shadow: 0px 4px 40px 0px #70FF4A;
    color: var(--cl-black);
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    border-radius: 100px;
    max-width: 455px;
    width: 100%;
    min-height: 80px;
}

/* play */
.play {
    padding: 250px 0px;
}
.play-wrapper h2 {
    margin-bottom: 90px;
}
.play-item {
    backdrop-filter: blur(22px);
    background: #FFFFFF0D;
    display: flex;
    gap: 48px;
    padding: 30px 70px 30px 30px;
    border: 1px solid #FFFFFF40;
    border-radius: 60px;
    margin-bottom: 250px;
}
.play-item:last-child {
    margin-bottom: 0;
}
.play-item:nth-child(2) {
    flex-direction: row-reverse;
}
.play-item-img {
    flex-basis: 55%;
}
.play-item-img img{
    height: 100%;
    object-fit: contain;
}

.play-item-content {
    background: #FFFFFF12;
    padding: 66px 44px 100px;
    min-height: 446px;
    position: relative;
    border-radius: 60px;
    flex-basis: 45%;
}
.play-item-btn button {
    background: var(--cl-primary);
    border-radius: 100px;
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
    line-height: 32px;
    color: var(--cl-black);
    padding: 32px 55px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.play-item-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
.play-item-btn-bg {
    position: absolute;
    top: -20%;
    left: -10%;
    background-color: rgb(37, 37, 37);
    width: 110%;
    height: 120%;
    border-top-left-radius: 60px;
}
.play-item-btn-bg::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 100%;
    right: 0;
    background: transparent;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 0 5px rgb(37, 37, 37);
}
.play-item-btn-bg::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 100%;
    background: transparent;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 0 5px rgb(37, 37, 37);
}

.play-item-content h3 {
    line-height: 44px;
    font-size: 40px;
    color: var(--cl-primary);
    margin-bottom: 30px;
    font-weight: 900;
    text-transform: capitalize;
}
.play-item-content p {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 32px;
}
.play-item-list {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.play-item-list li {
    background: var(--cl-primary);
    border-radius: 100px;
    color: var(--cl-black);
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    transition: all 0.3s ease;
    margin-right: 7px;
}
.play-item-list li:hover {
    background: var(--cl-secondary)
}

/* team */
.team {
    padding-bottom: 400px;
}
.team-wrapper h2 {
    margin-bottom: 40px;
    text-align: center;
}
.team-wrapper > p{
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 60px;
}
.team-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 47px;
}
.team-list li {
    padding: 12px;
}
.team-item-img {
    margin-bottom: 20px;
    overflow: hidden;
}
.team-item-img img {
    min-height: 193px;
    width: 100%;
    height: 100%;
    border-radius: 38px;
}
.team-item-content {
    position: relative;
    background-image: url('../images/team-bgf.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 30px 60px;
}
.team-item-content h3 {
    color: var(--cl-primary);
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
}
.team-item-content p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 10px;
}

@media screen and (max-width: 1499px) {
    .hero-wrapper {
        padding-top: 230px;
    }
    .hero-wrapper > p {
        margin-bottom: 225px;
    }
    .hero-bottom {
        padding: 30px;
    }
    .hero-bottom button {
        max-width: 350px;
        margin-right: 30px;
    }
    .hero-info p span:first-child {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .hero-info {
        gap: 30px;
    }
    /* features */
    .features-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1299px) {
    /* team */
    .team-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .team-item-content h3 {
        font-size: 32px;
    }
}
@media screen and (max-width: 1023px) {
    .team-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px) {
    .hero-bottom button {
        background-color: var(--cl-secondary);
        box-shadow: 0px 4px 40px 0px #FF7931;
        font-size: 16px;
        width: max-content;
        min-height: auto;
        padding: 20px;
        margin-right: 15px;
    }
    .hero-bottom {
        padding: 15px;
    }
    .hero-info p span:first-child  {
        font-size: 32px;
    }
    .hero-info p span:last-child  {
        font-size: 16px;
    }
    .hero-info p:not(:first-child) {
        display: none;
    }
    .hero-wrapper {
        background-image: url('../images/bg-hero-sm.png');
    }
    .header-wrapper {
        padding-right: 30px;
    }
    .hero {
        padding-top: 35px;
    }
    .hero-wrapper {
        padding-top: 130px;
    }
    .hero-wrapper > p {
        font-size: 20px;
        line-height: 26px;
    }
    .hero-wrapper > p {
        margin-bottom: 40px;
    }

    /* hype */
    .hype {
        padding: 80px 0px;
    }
    .hype-wrapper p {
        font-size: 20px;
        line-height: 26px;
    }

    /* features */
    .features {
        padding: 90px 0;
    }
    .features-content {
        grid-template-columns: 1fr;
    }

    /* why */
    .why-wrapper {
        background-image: url('../images/why-img-mb.png');
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .why-content {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .why-wrapper h2 {
        margin-bottom: 20px;
    }
    .why-item {
        padding: 28px 16px;
        backdrop-filter: blur(30px);
        border-radius: 30px;
    }
    .why-item h3 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 5px;
    }
    .why-item p {
        font-size: 20px;
        line-height: 26px;
    }
    .why-item img {
        margin-top: 24px;
    }
    .why-btn {
        margin-top: 40px;
    }
    /* play */
    .play {
        padding: 80px 0px;
    }
    .play-item {
        flex-direction: column;
        padding: 16px;
        border-radius: 32px;
        gap: 16px;
        margin-bottom: 80px;
    }
    .play-item:nth-child(2) {
        flex-direction: column;
    }
    .play-item > div {
        flex-basis: 100%;
    }
    .play-item-content {
        padding: 34px 24px;
        border-radius: 30px;
        min-height: auto;
        
    }
    .play-item-content h3 {
        letter-spacing: -2px;
    }
    .play-item-content p {
        font-size: 20px;
        line-height: 26px;
    }
    .play-item-btn button {
        font-size: 16px;
        line-height: 20px;
        padding: 16px 22px
    }
    .play-item-btn-bg {
        border-top-left-radius: 30px;
    }
    .play-wrapper h2 {
        margin-bottom: 40px;
    }
    /* team */
    .team {
        padding-bottom: 80px;
    }
    .team-item-img img{
        border-radius: 32px;
    }
    .team-wrapper h2 {
        letter-spacing: -2px;
    }
    .team-wrapper > p {
        font-size: 20px;
        line-height: 28px;
    }
    .team-item-content {
        padding: 16px 12px 48px;
    }
    .team-item-content h3 {
        font-size: 24px;
        line-height: 26px;
    }
    .team-item-content p {
        font-size: 16px;
        line-height: 20px;
        margin-top: 12px;
    }
    .team-list {
        gap: 8px;
    }
    .team-list li {
        padding: 6px;
    }
}