.keyvisual {
    padding-top:350px;
    margin-bottom: 160px;
}
.keyvisual-wrapper {
    background-image: url('../images/keyvisual.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 80px 80px 312px;
}
.keyvisual-img {
    margin-bottom: 80px;
}
.keyvisual-content {
    display: flex;
    gap: 60px;
}
.keyvisual-left > h2 {
    font-size: clamp(56px, 4vw + 1rem, 82px);
    line-height: clamp(67px, 4.5vw + 1rem, 90px);
    font-weight: 900;
    margin-bottom: 40px;
    letter-spacing: -4px;
}
.keyvisual-left > h3 {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 80px;
    color: var(--cl-primary);
}
.keyvisual-bonus {
    border-radius: 100px;
    border: 2px solid var(--cl-primary);
    background: #19191933;
    padding: 32px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    backdrop-filter: blur(60px);
    max-width: 780px;

}
.bonus-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.bonus-left > h3 {
    color: var(--cl-primary);
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
}
.keyvisual-bonus > p {
    font-size: 48px;
    line-height: 52px;
    font-weight: 900;
    color: var(--cl-primary);
    font-family: var(--font-primary);
}
.keyvisual-gold {
    display: flex;
    gap: 80px;
    font-family: var(--font-primary);
}
.gold-item .gold-img{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}
.gold-item .gold-img span {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
}
.gold-item p {
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
    color: var(--cl-primary);
    font-family: var(--font-primary);
}
.keyvisual-right {
    border: 2px solid var(--cl-primary);
    background: #00000033;
    backdrop-filter: blur(60px);
    border-radius: 60px;
    padding: 90px 48px 63px;
    text-align: center;
    max-width: 580px;
    width: 100%;
    margin-top: 50px;
}
.keyvisual-right > h3 {
    color: var(--cl-primary);
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 48px;
}
.refer-text-copy {
    font-family: var(--font-primary);
    font-size: 80px;
    font-weight: 900;
    line-height: 88px;
    font-style: italic;
    margin-bottom: 48px;
}
.keyvisual-right > p:nth-child(3) {
    position: relative;
    margin-bottom: 48px;
}
.keyvisual-right > p:nth-child(3):before, .keyvisual-right > p:nth-child(3):after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30%;
    height: 1px;
    background-color: #ABABAB;
}
.keyvisual-right > p:nth-child(3):before {
    left: 0;
}
.keyvisual-right > p:nth-child(3):after {
    right: 0;
}
.keyvisual-right > p:nth-child(3) span {
    color: #ABABAB;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    position: relative;
}
.refer-social {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    margin-bottom: 48px;
}
.refer-btn-copy {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    padding: 32px 37px;
    border-radius: 100px;
    background: #68686859;
    cursor: pointer;
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    color: var(--cl-white);
    font-style: italic;
    margin: 0px auto;
}
.progress-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.progress-wrapper * {
    font-family: var(--font-primary) !important;
}
.progress-wrapper h2 {
    font-size: 82px;
    font-weight: 900;
    line-height: 90px;
    margin-bottom: 120px;
}
.progress-left {
    max-width: 790px;
}
.progress-left-top {
    border-radius: 100px;
    background: #FFFFFF0D;
    border: 1px solid #FFFFFF40;
    backdrop-filter: blur(60px);
    margin-bottom: 48px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.progress-left-top img {
    width: 48px;
    height: 48px;;
}
.progress-left-top p {
    color: var(--cl-primary);
    font-size: 28px;
    line-height: 30px;
    font-weight: 900;
}
.progress-bxh {
    background-image: url('../images/bxh-img.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 60px 48px;
}
.bxh-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}
.bxh-title h3 {
    color: var(--cl-primary);
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
}
.bxh-content p {
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    font-weight: 900;
}