.keyvisual {
    padding-top:350px;

}
.keyvisual-wrapper {
    background-image: url('../images/keyvisual.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 80px;
}
.keyvisual-img {
    
}