.keyvisual {
    padding-top:350px;

}
.keyvisual-wrapper {
    background-image: url('../images/keyvisual.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 80px;
}
.keyvisual-img {
    margin-bottom: 80px;
}
.keyvisual-content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 60px;
}
.keyvisual-left > h2 {
    font-size: clamp(56px, 4vw + 1rem, 82px);
    line-height: clamp(67px, 4.5vw + 1rem, 90px);
    font-weight: 900;
    margin-bottom: 40px;
}