.keyvisual {
    padding-top:350px;

}
.keyvisual-wrapper {
    background-image: url('../images/keyvisual.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 80px;
}
.keyvisual-img {
    margin-bottom: 80px;
}
.keyvisual-content {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 60px;
}
.keyvisual-left > h2 {
    font-size: clamp(56px, 4vw + 1rem, 82px);
    line-height: clamp(67px, 4.5vw + 1rem, 90px);
    font-weight: 900;
    margin-bottom: 40px;
}
.keyvisual-left > h3 {
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 80px;
    color: var(--cl-primary);
}
.keyvisual-bonus {
    border-radius: 100px;
    border: 2px solid var(--cl-primary);
    background: #19191933;
    padding: 32px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    backdrop-filter: blur(60px)

}
.bonus-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.bonus-left > h3 {
    color: var(--cl-primary);
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
}
.keyvisual-bonus > p {
    font-size: 48px;
    line-height: 52px;
    font-weight: 900;
    color: var(--cl-primary);
    font-family: var(--font-primary);
}
.keyvisual-gold {
    display: flex;
    gap: 80px;
    font-family: var(--font-primary);
}
.gold-item .gold-img{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}
.gold-item .gold-img span {
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
}
.gold-item p {
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
    color: var(--cl-primary);
    font-family: var(--font-primary);
}
.keyvisual-right {
    border: 2px solid var(--cl-primary);
    background: #00000033;
    backdrop-filter: blur(60px);
    border-radius: 60px;
    padding: 90px 48px 63px;
    text-align: center;
}
.keyvisual-right > h3 {
    color: var(--cl-primary);
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 48px;
}
.refer-text-copy {
    
}