.quest {
    padding: 340px 0px 320px; 
}
.quest-wrapper {
    display: grid;
    grid-template-columns: 45% 55%;
}
.quest-left {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quest-player  {
    flex: 1;
}
.quest-socical {
    position: absolute;
    left: 0;
    bottom: 0;
}