.quest {
    padding: 340px 0px 320px; 
}
.quest-wrapper {
    display: grid;
    grid-template-columns: 45% 55%;
}
.quest-left {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 60px;
}
.quest-player  {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.quest-socical {
   display: flex; 
   align-items: center;
   gap: 40px;
   max-width: 320px;
   position: relative;
   bottom: 40px;
   left: 40px;
}
.quest-player-name h3 {
    color: var(--cl-primary);
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
    margin-bottom: 24px;
}
.quest-player-name p {
    display: flex;
    align-items: center;
    gap: 16px;
}
.quest-player-name p span {
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: var(--cl-secondary);
}